{% extends "layout.html" %}
{% block title %}Become a Tutor{% endblock %}
{% block content %}
<main>
    <div class="hero-main">
        <div class="hero">
            <span class="hero-title
            ">
                Become a Tutor
            </span>
            <span class="hero-desc">
                Join our team of 350+ tutors and help students succeed.
            </span>
        </div>
        <div>
            <img width="300" height="300" src="static/images/onlinelearning.svg">
        </div>
    </div>
    <div class="section highlight">
        <h2>Why Tutor with Us?</h2>
        <p>Our tutors are passionate about teaching and helping students succeed. We provide a platform for tutors to
            teach students from around the world. Our tutors set their own schedule and work from anywhere. We offer
            competitive pay and a supportive community of tutors.</p>
    </div>
    <div class="section features">
        <div class="feature">
            <div class="feature-icon">
                <img src="static/images/educator.svg">
            </div>
            <div class="feature-text">
                <h2>Teach</h2>
                <p>Teach students from around the world. Share your knowledge and help students succeed.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon">
                <img src="static/images/schedule.svg">
            </div>
            <div class="feature-text">
                <h2>Flexible</h2>
                <p>Set your own schedule and work from anywhere. You can work as much or as little as you want.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon">
                <img src="static/images/community.svg">
            </div>
            <div class="feature-text">
                <h2>Community</h2>
                <p>Join a supportive community of tutors. Share ideas and collaborate with other tutors.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}