{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
    <div class="hero-main">
        <div class="hero">
            <span class="hero-title">
                GibJohn Tutoring
            </span>
            <span class="hero-desc">
                The #1 online tutoring platform.
            </span>
            <a href="login">
                <button class="primary hero-btn">
                    Get Started
                </button>
            </a>
        </div>
        <div>
            <img width="300" height="300" src="static/images/onlinelearning.svg">
        </div>
    </div>
    <div class="stats-banner">
        <div class="stats">
            <span class="stats-title">
                1000+
            </span>
            <span class="stats-desc">
                Students
            </span>
        </div>
        <div class="stats">
            <span class="stats-title">
                350+
            </span>
            <span class="stats-desc">
                Tutors
            </span>
        </div>
        <div class="stats">
            <span class="stats-title">
                100+
            </span>
            <span class="stats-desc">
                Subjects
            </span>
        </div>
        <div class="stats">
            <span class="stats-title">
                5000+
            </span>
            <span class="stats-desc">
                Sessions
            </span>
        </div>
        <div class="stats">
            <span class="stats-title">
                24/7
            </span>
            <span class="stats-desc">
                Support
            </span>
        </div>
    </div>
    <div class="section">

    </div>
</main>
{% endblock %}